.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}
.avatar-div {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 230px;
  margin: 10px;
  width: 270px;
  height: 230px;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 7px 1px #3b3b3b;
  box-shadow: 1px 1px 7px 1px #3b3b3b;
  box-sizing: border-box;
  text-decoration: none !important;
}
.avatar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 185px;
  border-radius: 7px;
  box-sizing: border-box;
}
.avatar-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px !important;
  z-index: 999 !important;
  box-sizing: border-box;
}

.dashboard-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(208, 234, 255);
  background-image: url("../src/images/ApiPageBg.png");
}
.dashboard-name {
  text-align: center;
  background: #121fcf;
  width: 100%;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-user-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 77vw;
  height: 90vh;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 30px;
}

.user-per-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 300px;
  height: 450px;
  border-radius: 17px;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #3b3b3b;
  box-shadow: 1px 1px 5px 1px #3b3b3b;
  background-color: white;
  opacity: 0.6;
  padding: 10px;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.user-per-details-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 350px;
  height: 205px;
  border-radius: 17px;
  margin: 20px;
  background-color: white;
  opacity: 0.6;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #3b3b3b;
  box-shadow: 1px 1px 5px 1px #3b3b3b;
}
label {
  width: 130px !important;
  color: hsl("+ Math.random() * 360 + ", 87%, 76%);
  font: 22px;
  font-weight: 800;
  text-align: left;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.data-row {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.data {
  text-align: left;
  width: 150px !important;
  height: 25px;
  border-bottom: 0.7px solid lightgray;
  padding: 3px;
  margin: 3px;
}
h3 {
  font-size: 25px;
  margin: 10px;
  background: rgb(43, 67, 214);
  background: linear-gradient(90deg, rgb(0, 34, 255) 0%, rgb(1, 14, 31) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
